@keyframes move-aside {
  0% {
    transform: translateX(8%);
  }
  100% {
    transform: translateX(0%);
  }
}
  @keyframes move-before {
    0% {
      transform: translateX(-8%);
    }
    100% {
      transform: translateX(0%);
    }
  }
body {
  margin: 0;
}
.tab__bar{
  display: flex;
  flex-direction: row;
  background: #333;
  padding-left: 10px;
  padding-top: 5px;
  border-bottom: 1px solid;
  border-color: #444;
  overflow: hidden;
  *{
    user-select: none;
  }
  p {
    display: flex;
    margin: 2px 0px 0px 0px;
    padding: 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: -30%;
    border-bottom-right-radius: -30%;
    text-align: left;
    position: relative;
    cursor: pointer;
    color: white;
    max-width: 145px;
    width: 145px;
    &.active {
      background: #444;
      border-color: inherit;
      width: 145px;
      z-index: 99;
      &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        right: -3px;
        border: 1px solid;
        border-color: inherit;
        border-top: 0;
        border-right: 0;
        border-bottom-left-radius: 5px;
        height: 3px;
        width: 3px;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: -3px;
        border: 1px solid;
        border-color: inherit;
        border-top: 0;
        border-left: 0;
        border-bottom-right-radius: 5px;
        height: 3px;
        width: 3px;
      }
    }
  }
  
}
.tab-panel {
  padding-top: 10px;
  width: 100%;
  background: #444;
}
.tab-panel:not(.active) {
  display: none;
}
.animated {
  animation: move-aside 0.12s ease-out;
}
.deanimated {
  animation: move-before 0.12s ease-out;
}
.close {
  margin-left: auto;
}
.addButton{
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.reposition {
  transition: all .2s ease-in-out;
}