@keyframes move-aside {
  0% {
    transform: translateX(8%);
  }
  100% {
    transform: translateX(0%);
  }
}
  @keyframes move-before {
    0% {
      transform: translateX(-8%);
    }
    100% {
      transform: translateX(0%);
    }
  }
body {
  margin: 0;
}
.close {
  display: flex;
  margin-left: auto;
  min-height: 15px;
  max-height: 15px;
  min-width: 15px;
  max-width: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  border-radius: 20%;
  transition: background 0.05s ease-in;
  &:hover {
    background-color: #666;
  }
  &:before{
    content: "";
    display: block;
    width: 1px;
    height: 22px;
    background-color: #383838;
    position: absolute;
    right: 0px;
    top: 8px;
    z-index: 0;
  }
}
.tab__bar{
  display: flex;
  flex-direction: row;
  background: #222;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-color: #383838;
  overflow: hidden;
  user-select: none;
  list-style-type: none;
  min-height: inherit;
  max-height: inherit;
  margin: 0;
  *{
    user-select: none;
  }
  li {
    display: flex;
    margin: 2px -1px 0px 0px;
    padding: 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: -30%;
    border-bottom-right-radius: -30%;
    text-align: left;
    position: relative;
    cursor: pointer;
    color: white;
    max-width: 145px;
    width: 145px;
    transition: background 0.15s ease-in;
    &:hover {
      background: #292929;

      &>.close {
        &:before {
          background: transparent;
        }
      }
    }
    &.active {
      background: #383838;
      border-color: inherit;
      width: 145px;
      z-index: 99;
      pointer-events: all;
    }
  }
}
.tab-panel {
  width: 100%;
}
.tab-panel:not(.active) {
  display: none;
}
.animated {
  animation: move-aside 0.12s ease-out;
}
.deanimated {
  animation: move-before 0.12s ease-out;
}
.addButton{
  color: white;
  cursor: pointer;
  padding-top: 6px;
  padding-right: 10px;
}

.bar__wrapper{
  display: flex;
  background: #222;
  min-height: 45px;
  width: 100%;
  margin: 0;
  align-items: center;
}
